html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  line-height: 140%;
  color: #2d2d2d;
  box-sizing: border-box;
  background-color: #fff;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  padding: 0;
}
button {
  cursor: pointer;
  border: none;
}
a {
  text-decoration: none;
  color: #2d2d2d;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
p + p {
  margin-top: 32px;
}
h1 {
  line-height: 140%;
}
h2 {
  font-size: 32px;
  line-height: 120%;
}
h3 {
  font-size: 28px;
}
img {
  border-radius: 2px;
}
input {
  border: none;
  outline: none;
  cursor: text;
}
.border {
  border: 2px solid #dbdee6;
}
.border--top {
  border-top: 2px solid #dbdee6;
}
.border--bottom {
  border-bottom: 2px solid #dbdee6;
}
.border--radius {
  border-radius: 2px;
}
.form--desc {
  max-width: 32rem;
}
.form--desc h1 {
  font-size: 32px;
  margin: 0 0 16px 0;
}
.form--desc p {
  margin: 0;
  font-weight: 500;
}
.form--desc--link {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
}
.form--desc--link p {
  font-weight: 700;
  line-height: 120%;
}
.form--desc--link .icon {
  width: 12px;
  height: 12px;
  padding-left: 12px;
}
.rectangle {
  position: relative;
  width: 5rem;
  height: 5rem;
}
.rectangle .icon-l {
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
  top: 0;
  left: 0;
}
.rectangle .icon-s {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  top: 60%;
  left: -27%;
}
.next {
  cursor: pointer;
  width: 82px;
  height: 82px;
  position: relative;
}
.next .icon--bg {
  width: 100%;
  height: 100%;
}
.next .icon--vector {
  width: 20%;
  height: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.prev {
  cursor: pointer;
  width: 82px;
  height: 82px;
  position: relative;
}
.prev .icon--bg {
  width: 100%;
  height: 100%;
}
.prev .icon--vector {
  rotate: 180deg;
  width: 20%;
  height: 20%;
  position: absolute;
  top: 41%;
  left: 39%;
}
.btn {
  display: inline-grid;
  justify-items: center;
  align-items: center;
  cursor: pointer;
  border-radius: 2px;
  font-weight: 700;
}
.btn--primary {
  background-color: #2d2d2d;
  padding: 12px 50px;
  color: #fff;
}
.icon--back {
  position: relative;
  inline-size: 20px;
  block-size: 10px;
}
.icon--back .icon--main {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.icon--back .icon--arrow {
  position: absolute;
  width: 8px;
  height: 8px;
  top: -2px;
  left: -2px;
}
.close {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  inline-size: 10px;
  block-size: 10px;
  cursor: pointer;
}
.close .icon--close {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.icon--change {
  width: 16px;
  height: 16px;
  position: relative;
}
.icon--change--top {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
}
.icon--change--top .icon--main {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
}
.icon--change--top .icon--arrow {
  position: absolute;
  top: 50%;
  left: -35%;
  transform: translateY(-50%);
  width: 90%;
  height: 90%;
}
.icon--change--bottom {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  transform: rotate(180deg);
}
.icon--change--bottom .icon--main {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
}
.icon--change--bottom .icon--arrow {
  position: absolute;
  top: 50%;
  left: -35%;
  transform: translateY(-50%);
  width: 85%;
  height: 85%;
}
.icon--save {
  width: 18px;
  height: 22px;
  position: relative;
}
.icon--save .icon--main {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon--save .icon--star {
  width: 30%;
  height: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon--last {
  width: 15px;
  height: 15px;
  position: relative;
}
.icon--last--main {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon--last--main .icon--cheo {
  width: 100%;
  height: 100%;
}
.icon--last--arrow .icon--arrow1,
.icon--last--arrow .icon--arrow2,
.icon--last--arrow .icon--arrow3,
.icon--last--arrow .icon--arrow4 {
  position: absolute;
  width: 30%;
  height: 30%;
}
.icon--last--arrow .icon--arrow1 {
  position: absolute;
  top: 0;
  right: 0;
}
.icon--last--arrow .icon--arrow2 {
  bottom: 0;
  right: 0;
}
.icon--last--arrow .icon--arrow3 {
  bottom: 0;
  left: 0;
}
.icon--last--arrow .icon--arrow4 {
  top: 0;
  left: 0;
}
.icon--social {
  width: 40px;
  height: 40px;
  position: relative;
}
.icon--social .icon--around {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.icon--social .icon--center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
}
.icon--social .icon--instagram--on--round {
  position: absolute;
  width: 32%;
  height: 32%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon--social .icon--dot--instagram {
  position: absolute;
  width: 10%;
  height: 10%;
  top: 34%;
  right: 33%;
}
.app {
  width: 100%;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fafafa;
}
.row {
  display: flex;
}
.row.row-center {
  align-items: center;
}
.row.row-start {
  align-items: flex-start;
}
.row.row-end {
  align-items: flex-end;
}
.row.col-center {
  justify-content: center;
}
.row.col-around {
  justify-content: space-around;
}
.row.col-between {
  justify-content: space-between;
}
.row.col-evenly {
  justify-content: space-evenly;
}
.grid {
  display: grid;
}
.grid.grid-center {
  justify-items: center;
  align-items: center;
}
.grid.grid-row-center {
  align-items: center;
}
.grid.l-2 {
  grid-template-columns: repeat(6, 1fr);
  gap: 3rem;
}
.grid.l-2--4 {
  grid-template-columns: repeat(5, 1fr);
}
.grid.l-3 {
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8rem;
}
.grid.l-4 {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid.l-4-8 {
  grid-template-columns: 1fr 2fr;
}
.grid.l-6 {
  grid-template-columns: 1fr 1fr;
}
.grid.l-2-5-5 {
  grid-template-columns: 2fr 5fr 5fr;
}
.grid.gap-15 {
  gap: 1.5rem;
}
.grid.gap-l {
  gap: 3rem;
}
.grid.grid-end {
  align-items: end;
}
.grid.grid-start {
  align-items: start;
}
.row .col.l-6 {
  width: 50%;
}
.row .col.l-4 {
  width: 33.33333%;
}
.row .col.l-2 {
  width: 16.66667%;
}
.row .col.l-3 {
  width: 25%;
}
.row .col.l-8 {
  width: 76.77777%;
}
.row .col.l-12 {
  width: 100%;
}
.mt-12 {
  margin-top: 12px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-24 {
  margin-top: 24px;
}
.mt-28 {
  margin-top: 28px;
}
.mt-32 {
  margin-top: 32px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-140 {
  margin-top: 140px;
}
.mt-160 {
  margin-top: 160px;
}
.mt-210 {
  margin-top: 210px;
}
#header {
  padding: 0 32px;
  border-bottom: 1px solid #dbdee6;
}
.header--top {
  width: 100%;
  height: 58px;
}
.header--top--left {
  flex: 1;
  min-width: 400px;
}
.header--top--left ul {
  width: 100%;
  height: 100%;
}
.header--top--left ul li {
  height: 100%;
}
.header--top--left ul li:first-child {
  position: relative;
}
.header--top--left ul li:first-child::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #2d2d2d;
  width: 110%;
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%);
}
.header--name {
  flex: 1;
}
.header--name .icon--name {
  width: 3rem;
  height: 3rem;
}
.header--top--right {
  flex: 1;
}
.header--top--right .header--lang {
  padding-left: 20%;
}
.header--top--right .header--lang a {
  padding: 0 12px;
  display: block;
  position: relative;
}
.header--top--right .header--lang li + li a::before {
  content: "";
  position: absolute;
  height: 12px;
  border-left: 1px solid #dbdee6;
  top: 50%;
  transform: translateY(-50%);
  right: 100%;
}
.header--top--right .header--lang li:first-child a {
  opacity: 0.6;
}
.header--top--right .header--icon {
  width: 200px;
  justify-content: flex-end;
  color: #374454;
}
.header--top--right .header--icon li,
.header--top--right .header--icon a {
  height: 100%;
}
.header--top--right .header--icon li + li a {
  margin-left: 25px;
}
.header--top--right .header--icon--search {
  position: relative;
  width: 1.5rem;
  cursor: pointer;
}
.header--top--right .header--icon--search .icon--search {
  width: 1.5rem;
  height: 1.5rem;
}
.header--top--right .header--icon--search .icon--vt3 {
  position: absolute;
  top: 64%;
  left: 84%;
  width: 0.5rem;
  height: 0.5rem;
}
.header--top--right .header--icon .icon--user {
  display: inline-block;
  position: relative;
  width: 1.7rem;
  height: 100%;
}
.header--top--right .header--icon .icon--user--top {
  position: absolute;
  width: 0.9rem;
  height: 0.9rem;
  top: 10%;
  left: 49.3%;
  transform: translateX(-50%);
}
.header--top--right .header--icon .icon--user--bottom {
  position: absolute;
  width: 1.7rem;
  height: 0.85rem;
  top: 53%;
}
.header--top--right .header--icon .icon--heart {
  position: relative;
  top: 10%;
  width: 1.9rem;
  height: 1.7rem;
}
.header--top--right .header--icon--bag {
  display: inline-block;
  position: relative;
  width: 1.3rem;
  height: 100%;
}
.header--top--right .header--icon--bag--top {
  position: absolute;
  top: 10%;
  left: 49%;
  transform: translateX(-50%);
  width: 0.6rem;
  height: 0.7rem;
}
.header--top--right .header--icon--bag--down {
  position: absolute;
  bottom: 10%;
  width: 1.3rem;
  height: 1.3rem;
}
.header--bottom {
  height: 52px;
}
.header--bottom ul {
  height: 100%;
}
.header--bottom ul a {
  display: inline-block;
  padding: 0 20px;
  font-weight: 500;
  line-height: 140%;
}
.header--bottom ul a:hover {
  opacity: 0.6;
  transition: 0.4s;
}
.header--bottom ul li:first-child a {
  padding-left: 0;
}
.banner {
  padding: 0 32px;
}
.banner__title .main__nav--list li:first-child a {
  padding-left: 0 !important;
}
.banner__title .main__nav--list a {
  padding: 0 10px;
}
.banner__title .main__nav--list a .icon {
  width: 0.5rem;
  height: 0.6rem;
}
.banner__title--content {
  max-width: 466px;
  margin-top: 120px;
}
.banner__title--content h1 {
  font-size: 4.8rem;
  line-height: 100%;
  margin-bottom: 24px;
}
.banner__title--content p {
  font-size: 2rem;
  line-height: 140%;
  text-align: justify;
  margin-bottom: 62px;
}
.banner__title--list {
  max-width: 466px;
  border-top: 1px solid #dbdee6;
}
.banner__title--list a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 18px 0;
  font-weight: 700;
  border-bottom: 1px solid #dbdee6;
  text-transform: uppercase;
}
.banner__title--list a .icon {
  width: 10px;
  height: 10px;
  float: right;
}
.banner__img {
  position: relative;
}
.banner__img img {
  width: 100%;
  min-height: 550px;
  float: right;
}
.banner__img .icon--vt15 {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 62px;
  height: 62px;
}
.banner__img .icon--vt14 {
  position: absolute;
  bottom: -12px;
  left: -12px;
  width: 32px;
  height: 32px;
}
#main {
  padding-top: 25px;
}
.main__category {
  margin-top: 140px;
  padding: 0 32px;
}
.main__category h2 {
  font-size: 32px;
}
.main__category ul {
  width: 37.5rem;
  height: 4.4rem;
  border-bottom: 1px solid #dbdee6;
}
.main__category ul li {
  display: grid;
  place-content: center;
  width: 12.5rem;
}
.main__category ul li:last-child {
  position: relative;
}
.main__category ul li:last-child::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #eb6e79;
}
.main__category--product {
  margin-top: 16px;
}
.main__category--product a {
  display: flex;
}
.main__category--product .product__item {
  position: relative;
}
.main__category--product .product__item h3 {
  font-size: 28px;
  color: #637284;
  position: relative;
  left: 24px;
}
.main__category--product .product__item .here {
  color: #2d2d2d !important;
}
.main__category--product .product__item img {
  width: 50%;
}
.main__category--product .product__item .icon {
  position: absolute;
  left: -0.8rem;
  bottom: 0;
  width: 2.7rem;
  height: 2.7rem;
}
.main__category--extends {
  margin-top: 140px;
  align-items: end;
}
.main__category--extends img:first-child {
  width: calc(100% - 32px);
  height: auto;
  padding-right: 70px;
}
.main__category--extends .category--extends--desc {
  max-width: 370px;
  height: 100%;
  margin: 0 40px 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__category--extends .category--extends--desc h2 {
  font-size: 32px;
  line-height: 120%;
  margin-bottom: 32px;
}
.main__category--extends .category--extends--desc p {
  font-size: 2rem;
  line-height: 140%;
  margin: 0;
  text-align: justify;
}
.main__category--extends .category--extends--right {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}
.main__category--extends .category--extends--right .rectangle {
  position: absolute;
  top: -58%;
  left: 77%;
}
.main__category--extends .category--extends--right img {
  width: 55%;
  height: auto;
}
.main--best {
  margin-top: 140px;
  padding: 0 32px;
}
.main--best h2 {
  margin: 0;
}
.main--best--product {
  margin-top: 4rem;
}
.main--best--product .product--item__img {
  position: relative;
  width: 100%;
}
.main--best--product .product--item__img img {
  width: 100%;
  height: 100%;
}
.main--best--product .product--item__img .icon--heart {
  width: 1.6rem;
  height: 1.4rem;
  position: absolute;
  top: 10px;
  right: 10px;
}
.main--best--product .product--item__img .icon--diamon {
  width: 2rem;
  height: 1.2rem;
  position: absolute;
  bottom: 14px;
  left: 10px;
}
.main--best--product .product--item__inf {
  padding: 0 12px;
}
.main--best--product .product--item__inf p:first-child {
  font-weight: 500;
  margin-bottom: 0;
}
.main--best--product .product--item__inf p:last-child {
  font-weight: 700;
  margin-top: 4px;
}
.main--shop-jewell {
  position: relative;
  margin: 160px 0 300px;
  padding: 0 32px;
}
.main--shop-jewell img {
  width: 100%;
  height: 100%;
}
.main--shop-jewell .shop-jewell__apply {
  position: absolute;
  width: 66%;
  height: 300px;
  background-color: #fff;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid #fafafa;
  border-radius: 2px;
}
.main--shop-jewell .shop-jewell__apply--inf {
  max-width: 65%;
  padding-left: 80px;
}
.main--shop-jewell .shop-jewell__apply--inf h2 {
  margin-bottom: 17px;
}
.main--shop-jewell .shop-jewell__apply--inf p {
  margin-bottom: 24px;
  font-weight: 500;
}
.main--shop-jewell .shop-jewell__apply .icon--vt15 {
  width: 62px;
  height: 62px;
  position: absolute;
  top: 14px;
  right: 14px;
}
.main--shop-jewell .shop-jewell__apply .icon--vt14 {
  width: 32px;
  height: 32px;
  position: absolute;
  left: -18px;
  bottom: -18px;
}
.main__banner {
  background-color: #2d2d2d;
  margin-top: 160px;
  padding: 0 32px;
}
.main__banner__img {
  flex: 1;
}
.main__banner__img img {
  max-width: 700px;
}
.main__banner--desc {
  flex: 1;
  padding-left: 32px;
}
.main__banner--desc div {
  max-width: 300px;
}
.main__banner--desc h2 {
  color: #fff;
  margin: 0 0 24px;
}
.main__banner--desc p {
  color: #fff;
  margin-bottom: 24px;
}
.main__banner--desc .btn--sub {
  background-color: #fff;
  padding: 16px 100px;
  font-weight: 700;
}
.main__rings {
  margin-top: 260px;
  padding: 0 32px;
  gap: 4.2rem;
}
.main__rings--desc .rectangle {
  margin-bottom: 180px;
  transform: rotateY(180deg);
}
.main__rings__img {
  position: relative;
}
.main__rings__img img {
  width: 100%;
  height: 100%;
  filter: brightness(80%);
}
.main__rings__img .rings__img--inf {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 20px;
}
.main__rings__img .rings__img--inf h1 {
  font-size: 20px;
  color: #fff;
  min-width: 300px;
  margin: 0;
}
.best-sellers__group {
  padding: 0 32px;
}
.best-sellers__group h2 {
  margin: 0 0 24px 0;
}
.best-sellers__group .best-sellers__group__img {
  gap: 4.2rem;
}
.best-sellers__group .best-sellers__group__img img {
  width: 100%;
}
.best-sellers__group .best-sellers__group__img p {
  font-weight: 700;
  line-height: 120%;
}
img.chains {
  display: block;
  position: relative;
  right: 32%;
  width: 100% !important;
  height: auto;
  z-index: -1;
}
.main__video {
  padding: 0 32px;
}
.main__video--desc {
  min-width: 290px;
  padding-right: 24px;
}
.main__video--right {
  position: relative;
}
.main__video--right img {
  width: 100%;
  height: 100%;
}
.main__video--right .icon--ractangle {
  position: absolute;
  left: -7px;
  bottom: -1px;
  z-index: -1;
  width: 300px;
  height: 300px;
}
.main__video--right .icon--play {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  width: 160px;
  height: 160px;
}
.main__video--right .icon--elip {
  width: 100%;
  height: 100%;
}
.main__video--right .icon--video {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  width: 28px;
  height: 28px;
}
.main__set__topic {
  background-color: #fcf9f9;
  padding: 0 32px;
}
.main__set__topic--left img {
  width: 100%;
  padding-bottom: 240px;
}
.main__set__topic .rectangle--set--topic {
  transform: rotateZ(180deg);
}
.main__set__topic--desc .form--desc__set {
  max-width: 42rem;
  padding-left: 36px;
}
.main__set__topic--desc li a .wrap--icon {
  position: relative;
  width: 56px;
  height: 56px;
  background-color: #e4cfcf;
}
.main__set__topic--desc li a .wrap--icon .icon--round {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.9rem;
  height: 0.9rem;
}
.main__set__topic--desc li a .wrap--icon .icon--set {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.9rem;
  height: 2.9rem;
}
.main__set__topic--desc li a .list__title {
  padding-left: 16px;
  max-width: 30rem;
}
.main__set__topic--desc li a .list__title p {
  font-weight: 700;
}
.main__set__topic--desc li a .list__title span {
  font-weight: 500;
}
.main__set__topic--right {
  max-width: 626px;
}
.main__set__topic--right img {
  height: 100%;
}
.main__best--rings--wrap {
  position: relative;
}
.main__best--rings--wrap h2 {
  margin: 0;
  padding-left: 32px;
}
.main__best--rings--wrap .main__best--rings {
  padding: 0 32px;
  background-color: #fafafa;
}
.main__best--rings--wrap .main__best--rings .icon--top,
.main__best--rings--wrap .main__best--rings .icon--container {
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
}
.main__best--rings--wrap .main__best--rings .icon--container {
  right: 32px;
  top: 20%;
}
.main__best--rings--wrap .main__best--rings .icon--top {
  transform: rotate(-180deg);
  left: 35%;
  top: -32px;
}
.main__desc {
  padding: 0 32px;
  display: grid;
  column-gap: 70px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
}
.main__desc__title {
  grid-column: 1 / 3;
}
.main__desc__title h2 {
  max-width: 700px;
  margin: 0 0 18px 0;
}
.main__desc p {
  font-weight: 500;
}
.main__title {
  padding-left: 32px;
}
.main__title__head {
  padding-right: 32px;
  margin-bottom: 26px;
}
.main__title__head h2 {
  margin: 0;
}
.main__title__head a {
  line-height: 120%;
  font-weight: 700;
}
.main__title__img {
  position: relative;
}
.main__title__img .image--3 {
  max-width: 1100px;
}
.main__title__img .image--4 {
  max-width: 600px;
  margin-left: 32px;
}
.main__title__img img {
  width: 100%;
}
.main__title__img img:nth-child(2) {
  padding-right: 30px;
}
.main__title__img .prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -41px;
}
.main__title__img .next {
  position: absolute;
  top: 50%;
  right: 32px;
  transform: translateY(-50%);
}
.main__title .position .icon--pos {
  cursor: pointer;
  width: 4px;
  height: 4px;
  padding: 0 2px;
}
.main__benefits {
  padding: 0 32px;
}
.main__benefits__list {
  gap: 24px;
}
.main__benefits__list__item {
  position: relative;
  background-color: #fcf9f9;
  min-width: 200px;
}
.main__benefits__list__item .list__item--wrap {
  padding: 34px 24px;
}
.main__benefits__list__item .icon {
  width: 52px;
  height: 52px;
  position: relative;
}
.main__benefits__list__item .icon--set {
  width: 100%;
  height: 100%;
}
.main__benefits__list__item .icon--round {
  width: 17px;
  height: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main__benefits__list__item h6,
.main__benefits__list__item p {
  font-size: 1.4rem;
  max-width: 208px;
}
.main__benefits__list__item .icon--vt15 {
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate(90deg);
}
.best-sellers__group--with--icon .best-sellers__group__img--link {
  display: block;
  position: relative;
}
.best-sellers__group--with--icon .best-sellers__group__img--link .prev--best {
  position: absolute;
  top: 50%;
  left: -41px;
  transform: translateY(-50%);
}
.best-sellers__group--with--icon .best-sellers__group__img--link .next--best {
  position: absolute;
  right: -21px;
  top: 50%;
  transform: translateY(-50%);
}
.best-sellers--with--4img h1 {
  margin-top: 10px;
  font-size: 20px;
  max-inline-size: 366px;
}
.best-sellers--with--4img .image--4__title {
  max-block-size: 470px;
  max-inline-size: 55px;
  overflow: hidden;
}
.best-sellers--with--4img .image--4__title h1 {
  margin-right: -200px;
}
.best-sellers--with--4img .prev--best--4img,
.best-sellers--with--4img .next--best--4img {
  top: 42%;
}
.main__contact {
  position: relative;
  background-color: #2d2d2d;
}
.main__contact .rectangle__contact {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  transform: rotate(180deg);
}
.main__contact--central {
  padding: 70px 0;
}
.main__contact--central h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}
.main__contact--central p {
  color: #fff;
  margin-bottom: 20px;
}
.main__contact--central--mail {
  height: 40px;
  width: 100%;
  border: 1px solid #dbdee6;
}
.main__contact--central--mail input {
  height: 100%;
  width: 100%;
  padding-left: 16px;
}
.main__contact--central--mail .btn--input {
  background-color: #eb6e79;
  width: 40px;
  height: 40px;
}
.main__contact--central--mail .btn--input .icon {
  width: 8px;
  height: 8px;
}
.main__read {
  position: relative;
}
.main__read--blur {
  display: grid;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  width: 100%;
  height: calc(100% + 30px);
  z-index: 2;
  background: linear-gradient(0, #ffffff 0%, rgba(255, 255, 255, 0) 91.21%);
}
#footer {
  margin-top: 70px;
}
.footer__header {
  background-color: #eb6e79;
  padding: 16px 0;
  position: relative;
}
.footer__header--item {
  max-inline-size: 220px;
}
.footer__header--item h6 {
  color: #fff;
  font-size: 1.4rem;
  margin-left: 12px;
}
.footer__contact {
  background-color: unset;
}
.footer__contact h2,
.footer__contact p {
  color: #2d2d2d;
}
.footer__contact .contact--mail {
  background-color: #fff;
  border: 2px solid #dbdee6;
  border-radius: 2px;
}
.footer__contact .btn--input--footer {
  background-color: #2d2d2d;
}
.footer__social {
  margin: 0 32px;
  padding: 30px 0;
  border-top: 2px solid #dbdee6;
  border-bottom: 2px solid #dbdee6;
}
.footer__social__item {
  padding: 0 24px;
  position: relative;
}
.footer__social__item:first-child {
  padding-left: 0;
}
.footer__social__item + .footer__social__item::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 16px;
  border-left: 1px solid #dbdee6;
}
.footer__list {
  background-color: #fff;
  padding: 0 32px 60px;
}
.footer__list .icon--name {
  height: 30px;
  max-width: 35px;
}
.footer__list .icon--name + .icon--name {
  margin-left: -4px;
}
.footer__list .revew span {
  font-size: 1.6rem;
  font-weight: 700;
  padding-right: 12px;
}
.footer__list .revew .icon--star {
  width: 9px;
  height: 9px;
  padding: 0 4px;
}
.footer__list .social .icon--social {
  padding-right: 8px;
}
.footer__list--desc__item a {
  display: block;
  font-weight: 700;
}
.footer__list--desc__item a + a {
  margin-top: 24px;
}
.footer__list .item--img--doupble {
  position: relative;
  top: -10px;
}
.footer__list .item--img--doupble a + a {
  padding-left: 10px;
}
.footer__copy--right {
  padding: 20px 32px;
}
.footer__copy--right__item h6 {
  font-size: 1.4rem;
}
.footer__copy--right__item img {
  padding-right: 12px;
}
.footer__copy--right__item a + a {
  padding-left: 40px;
}
